body {
    background-color: #f9f9f9;
}

#main {
    min-height: 400px;
}

/* Box
-------------------------------------------------- */
.box {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    padding: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.box h2 {
    margin-top: 0;
    font-size: 25px;
    line-height: 30px;
}

/*.box-content {
    clear: both;
    padding-top: 0px;
}*/

/* Tables for key value descriptions
-------------------------------------------------- */
.table-desc th,
.table-desc td {
    border-top: 0;
}

.table-desc tbody tr:nth-child(odd) td,
.table-desc tbody tr:nth-child(odd) th {
  background-color: #f9f9fd;
}

/* Upload
-------------------------------------------------- */
.after {
	clear: both;
}

.progress {
	width: 45%;
}

.footer {
    background-color: #fff;
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #e5e5e5;
}

.footer p {
    margin-bottom: 0;
    color: #555;
}

.controls p {
	padding-top: 5px;
}

/* Query textareas
--------------------------------------------------- */
.code-font {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Messages
--------------------------------------------------- */
#messages ul {
    margin: 5px;
}

.messages_success {
    border: 1px solid #cfc;
    background-color: #efe;
    color: #090;
}

.messages_failure {
    border: 1px solid #fcc;
    background-color: #fee;
    color: #800;
}

.messages_debug {
    border: 1px solid #ccc;
    background-color: #eee;
    color: #888;
}

/* Other
--------------------------------------------------- */
.help-block {
    font-size: 12px;
    font-style: italic;
}

.strong {
    font-weight: bold;
}

ul.scales {
    margin:0;padding:0;
      list-style: none;
}

ul.scales li {
    display:inline;
      padding-right:15px;
}

.dateinput {
  width: 140px;
}

.scales label{
  display: inline;
}

a.warning {
  color: darkorange;
}

a.critical{
  color: darkred;
}

td.clickable a {
  display: block;
}

.floatright {
  float: right;
}

.floatleft {
  float: left;
}

.va_top {
    verticcal-align: top;
}

.ta_center {
  text-align: center;
}
